
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style>
        #MainDiv {
            width:950px;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    @RenderSection("CustomStyle",false)
    <script src="~/scripts/jquery-1.12.4.min.js"></script>
    @RenderSection("CustomScript",false)
</head>
<body>
    <div id="MainDiv">
        @Html.Partial("TopBanner_Login")
        @RenderBody()
        @Html.Partial("PageFooter")
    </div>
</body>
</html>
